@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Rubik:wght@400;500;700&family=Ubuntu+Mono:ital,wght@0,400;1,700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  border-color: currentColor;
  border-style: solid;
  border-width: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
  font-family: $sans;
  background-color: $bright;
  color: $dark;
  // transform: rotate(180deg);
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $primary;
  color: $white;
}
