@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin mobile {
	// max 500 px
	@media only screen and (max-width: 31.25em) {
		@content;
	}
}

@mixin landscape {
	// max 830 px
	@media only screen and (max-width: 51.875em) {
		@content;
	}
}

@mixin desktop {
	// min 1020 px
	@media only screen and (min-width: 63.75em) {
		@content;
	}
}
