$sans: Rubik, sans-serif;
$serif: 'Crimson Text', serif;
$mono: 'Ubuntu Mono', monospace;

// colors
$white: #ffffff;
$bright: #f6f6f6;
$light: #bbbbbb;
$grey-100: #595959;
$grey-500: #373737;
$dark: #151411;
$black: #1f1f1f;

$primary: #ff0000;
$secondary: #1f1e16;
$cta: #b33018;
$links: #0d607b;

$width: 100ch;
